body {
  margin: 0;
  padding: 0;
}
.container {
  width: 100%;
  height: 100vh;
  max-width: 800px;
  margin: 0 auto;
  padding: 0 20px;
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
  justify-content: center;
  box-sizing: border-box;
  align-content: flex-start;
}
.media-player {
  width: 100%;
  height: 80vh;
  border: 2px solid #000;
  border-radius: 16px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}
.media-player__canvas {
  width: 100%;
  height: calc(100% - 102px);
}
.media-player__canvas canvas {
  width: 100%;
  height: 100%;
  border-radius: 16px 16px 0 0;
}
.media-player__controls {
  width: 100%;
  padding: 20px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  box-sizing: border-box;
}
.media-player__buttons {
  border: 1px solid #000;
  border-radius: 30px;
  display: flex;
  height: 60px;
}
.media-player__button {
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background: transparent;
  font-size: 20px;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.media-player__button:hover {
  font-size: 24px;
}
.media-player__button:not(:first-child) {
  border-left: 1px solid #000;
}
.media-player__progress {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
}
.media-player__volume {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
}
.media-player__volume-btn {
  border: none;
  background: transparent;
  font-size: 20px;
  margin: 0 10px 0 0;
  cursor: pointer;
}
.view-links {
  width: 100%;
  margin: 0;
  padding: 0;
  height: 10vh;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  list-style: none;
}
.view-links__item {
  margin: 0 5px;
}
.view-links__link {
  color: #000;
}
.view-links__link:hover {
  text-decoration: none;
}

@media screen and (max-width: 767px) {
  .media-player__canvas {
    width: 100%;
    height: calc(100% - 220px);
  }
  .media-player__controls {
    height: 220px;
  }
}
@media screen and (max-width: 767px) {
  .media-player__canvas {
    width: 100%;
    height: calc(100% - 220px);
  }
  .media-player__controls {
    height: 220px;
  }
}
@media screen and (max-width: 767px) and (orientation: landscape) { 
  .container {
    height: auto;
  }
  .media-player {
    height: auto;
}
  .media-player__canvas {
    height: 350px;
  }
  .media-player__controls {
    height: 220px;
  }
}